
Create database [Comedores]
GO
USE [Comedores]
GO
/****** Object:  Table [dbo].[DiningRoom]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiningRoom](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NULL,
	[Name] [nvarchar](300) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [bigint] NULL,
	[Email] [nvarchar](300) NULL,
	[Contact] [nvarchar](300) NULL,
	[ContactEmail] [nvarchar](300) NULL,
	[ContactPhone] [bigint] NULL,
	[ChildNumber] [bigint] NULL,
	[ScheduleReception] [time](7) NULL,
	[Neiborhood] [nvarchar](80) NULL,
	[City] [int] NULL,
 CONSTRAINT [PK_Comedor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibility]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibility](
	[IDProvider] [bigint] NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDProduct] [bigint] NULL,
	[Quantity] [int] NULL,
	[UnitValue] [numeric](16, 2) NULL,
	[ExpirationDate] [date] NULL,
 CONSTRAINT [PK_Disponibility] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IDRecipe] [bigint] NULL,
	[IDProduct] [bigint] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDPreOrder] [bigint] NULL,
	[IDProduct] [bigint] NULL,
	[IDProvider] [bigint] NULL,
	[Quantity] [numeric](14, 2) NULL,
	[UnitValue] [numeric](14, 2) NULL,
	[ExpirationDays] [numeric](14, 2) NULL,
	[Cost] [numeric](14, 2) NULL,
	[DurationText] [nvarchar](20) NULL,
	[DistanceText] [nvarchar](20) NULL,
	[IDTransport] [bigint] NULL,
	[CostTransport] [numeric](14, 2) NULL,
	[Total] [numeric](14, 2) NULL,
	[AcceptedProvider] [bit] NULL,
	[AcceptedTransport] [bit] NULL,
	[TimeOrderItem] [time](4) NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreOrder]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreOrder](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDDiningRoom] [bigint] NULL,
	[IDRecipe] [bigint] NULL,
	[PreOrderDate] [date] NULL,
	[Accepted] [bit] NULL,
 CONSTRAINT [PK_PreOrder] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreOrderItem]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreOrderItem](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDProduct] [bigint] NULL,
	[IDPreOrder] [bigint] NULL,
	[Quantity] [numeric](14, 2) NULL,
 CONSTRAINT [PK_PreOrderItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NULL,
	[Name] [nvarchar](80) NULL,
	[Description] [nvarchar](80) NULL,
	[Preservation] [int] NULL,
	[MeasurementUnit] [int] NULL,
	[ProductType] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NULL,
	[Name] [nvarchar](300) NULL,
	[Address] [nvarchar](300) NULL,
	[Neiborhood] [nvarchar](80) NULL,
	[City] [nvarchar](100) NULL,
	[Phone] [bigint] NULL,
	[Contact] [nvarchar](100) NULL,
	[ContactPhone] [bigint] NULL,
	[ContactMail] [nvarchar](100) NULL,
	[EnterpriseMail] [nvarchar](100) NULL,
	[NIT] [nvarchar](100) NULL,
	[Type] [nvarchar](1) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NULL,
	[Name] [nvarchar](300) NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUser](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](80) NULL,
	[Password] [nvarchar](80) NULL,
	[Name] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[UserType] [nvarchar](1) NULL,
	[ProviderID] [bigint] NULL,
 CONSTRAINT [PK_SystemUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transport]    Script Date: 20/05/2020 6:42:11 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NULL,
	[CarPlate] [nvarchar](10) NULL,
	[Brand] [nvarchar](80) NULL,
	[Year] [int] NULL,
	[PersonInCharge] [nvarchar](80) NULL,
	[PhonePersonInCharge] [bigint] NULL,
	[MailPersonInCharge] [nvarchar](80) NULL,
	[PaymentValue] [numeric](16, 2) NULL,
	[Availability] [bit] NULL,
	[TransportType] [int] NULL,
	[PaymentUnity] [int] NULL,
	[PaymentMeasurement] [int] NULL,
	[IDProvider] [bigint] NULL,
 CONSTRAINT [PK_Transport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiningRoom] ON 

INSERT [dbo].[DiningRoom] ([ID], [Code], [Name], [Address], [Phone], [Email], [Contact], [ContactEmail], [ContactPhone], [ChildNumber], [ScheduleReception], [Neiborhood], [City]) VALUES (1, N'3553', N'San Isidro', N'carrera 94 22 a 90', 7384756, N'Prueba@gmai.com', N'Angela Vasquez', N'Angela@gmail.com', 6356783, 1, CAST(N'00:00:00' AS Time), N'Corabastos', 1)
INSERT [dbo].[DiningRoom] ([ID], [Code], [Name], [Address], [Phone], [Email], [Contact], [ContactEmail], [ContactPhone], [ChildNumber], [ScheduleReception], [Neiborhood], [City]) VALUES (2, N'47478', N'Los santos', N'carrera 94 22 a 90', 3488494, N'Test@gmail', N'Carlos Moreno', N'Carlos@gmail.com', 73894933, 60, CAST(N'16:30:00' AS Time), N'Modelia', 2)
INSERT [dbo].[DiningRoom] ([ID], [Code], [Name], [Address], [Phone], [Email], [Contact], [ContactEmail], [ContactPhone], [ChildNumber], [ScheduleReception], [Neiborhood], [City]) VALUES (3, N'8989', N'Modelia la felicidad', N'Calle 94 Carrera', 41234, N'judacol@hotmail.com', N'Juan Cortes', N'juanCorte@gmail.com', 12345565, 70, CAST(N'17:30:00' AS Time), N'hayuelos', 1)
SET IDENTITY_INSERT [dbo].[DiningRoom] OFF
SET IDENTITY_INSERT [dbo].[Disponibility] ON 

INSERT [dbo].[Disponibility] ([IDProvider], [ID], [IDProduct], [Quantity], [UnitValue], [ExpirationDate]) VALUES (11, 2, 4, 580, CAST(2000.00 AS Numeric(16, 2)), CAST(N'2020-06-05' AS Date))
INSERT [dbo].[Disponibility] ([IDProvider], [ID], [IDProduct], [Quantity], [UnitValue], [ExpirationDate]) VALUES (11, 3, 5, 0, CAST(7000.00 AS Numeric(16, 2)), CAST(N'2020-10-10' AS Date))
INSERT [dbo].[Disponibility] ([IDProvider], [ID], [IDProduct], [Quantity], [UnitValue], [ExpirationDate]) VALUES (5, 4, 6, 1000, CAST(3000.00 AS Numeric(16, 2)), CAST(N'2020-09-07' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Disponibility] OFF
SET IDENTITY_INSERT [dbo].[Ingredient] ON 

INSERT [dbo].[Ingredient] ([Id], [IDRecipe], [IDProduct], [Quantity]) VALUES (1, 1, 2, 1)
INSERT [dbo].[Ingredient] ([Id], [IDRecipe], [IDProduct], [Quantity]) VALUES (2, 2, 4, 3)
INSERT [dbo].[Ingredient] ([Id], [IDRecipe], [IDProduct], [Quantity]) VALUES (4, 2, 5, 5)
SET IDENTITY_INSERT [dbo].[Ingredient] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([ID], [IDPreOrder], [IDProduct], [IDProvider], [Quantity], [UnitValue], [ExpirationDays], [Cost], [DurationText], [DistanceText], [IDTransport], [CostTransport], [Total], [AcceptedProvider], [AcceptedTransport], [TimeOrderItem]) VALUES (1, 2, 4, 11, CAST(210.00 AS Numeric(14, 2)), CAST(2000.00 AS Numeric(14, 2)), CAST(16.00 AS Numeric(14, 2)), CAST(420000.00 AS Numeric(14, 2)), N'16 min', N'7,0 km', 2, CAST(3477.50 AS Numeric(14, 2)), NULL, 1, 1, NULL)
INSERT [dbo].[OrderItem] ([ID], [IDPreOrder], [IDProduct], [IDProvider], [Quantity], [UnitValue], [ExpirationDays], [Cost], [DurationText], [DistanceText], [IDTransport], [CostTransport], [Total], [AcceptedProvider], [AcceptedTransport], [TimeOrderItem]) VALUES (2, 2, 5, 7, CAST(100.00 AS Numeric(14, 2)), CAST(1200.00 AS Numeric(14, 2)), CAST(17.00 AS Numeric(14, 2)), CAST(120000.00 AS Numeric(14, 2)), N'12 min', N'3,9 km', 4, CAST(3421.25 AS Numeric(14, 2)), NULL, 1, 1, NULL)
INSERT [dbo].[OrderItem] ([ID], [IDPreOrder], [IDProduct], [IDProvider], [Quantity], [UnitValue], [ExpirationDays], [Cost], [DurationText], [DistanceText], [IDTransport], [CostTransport], [Total], [AcceptedProvider], [AcceptedTransport], [TimeOrderItem]) VALUES (3, 2, 5, 11, CAST(100.00 AS Numeric(14, 2)), CAST(1260.00 AS Numeric(14, 2)), CAST(17.00 AS Numeric(14, 2)), CAST(126000.00 AS Numeric(14, 2)), N'16 min', N'7,0 km', 4, CAST(6085.62 AS Numeric(14, 2)), NULL, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[PreOrder] ON 

INSERT [dbo].[PreOrder] ([ID], [IDDiningRoom], [IDRecipe], [PreOrderDate], [Accepted]) VALUES (1, 3, 2, CAST(N'2020-05-19' AS Date), 0)
INSERT [dbo].[PreOrder] ([ID], [IDDiningRoom], [IDRecipe], [PreOrderDate], [Accepted]) VALUES (2, 3, 2, CAST(N'2020-05-19' AS Date), 1)
INSERT [dbo].[PreOrder] ([ID], [IDDiningRoom], [IDRecipe], [PreOrderDate], [Accepted]) VALUES (3, 3, 2, CAST(N'2020-05-19' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PreOrder] OFF
SET IDENTITY_INSERT [dbo].[PreOrderItem] ON 

INSERT [dbo].[PreOrderItem] ([ID], [IDProduct], [IDPreOrder], [Quantity]) VALUES (1, 4, 1, CAST(3.00 AS Numeric(14, 2)))
INSERT [dbo].[PreOrderItem] ([ID], [IDProduct], [IDPreOrder], [Quantity]) VALUES (2, 5, 1, CAST(5.00 AS Numeric(14, 2)))
INSERT [dbo].[PreOrderItem] ([ID], [IDProduct], [IDPreOrder], [Quantity]) VALUES (3, 6, 1, CAST(2.00 AS Numeric(14, 2)))
SET IDENTITY_INSERT [dbo].[PreOrderItem] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Code], [Name], [Description], [Preservation], [MeasurementUnit], [ProductType]) VALUES (4, N'23', N'papa', N'papa una bolsa', 1, 1, 1)
INSERT [dbo].[Product] ([ID], [Code], [Name], [Description], [Preservation], [MeasurementUnit], [ProductType]) VALUES (5, N'32', N'agua', N'agua', 1, 1, 2)
INSERT [dbo].[Product] ([ID], [Code], [Name], [Description], [Preservation], [MeasurementUnit], [ProductType]) VALUES (6, N'24', N'yuca', N'yuca en bolsa', 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([ID], [Code], [Name], [Address], [Neiborhood], [City], [Phone], [Contact], [ContactPhone], [ContactMail], [EnterpriseMail], [NIT], [Type]) VALUES (1, N'123', N'Ara', N'carrera 4', N'1', N'1', 2121, N'Mario Rudas', 232223, N'enero@gmail.com', N'eneroAra@Ara.com', N'233232', N'0')
INSERT [dbo].[Provider] ([ID], [Code], [Name], [Address], [Neiborhood], [City], [Phone], [Contact], [ContactPhone], [ContactMail], [EnterpriseMail], [NIT], [Type]) VALUES (3, N'3663', N'SOacha corabastos', N'Calle 76 78 ', N'1', N'sampl', 343434, N'sampl', 1, N'sampl', N'sampl', N'sampl', N'0')
INSERT [dbo].[Provider] ([ID], [Code], [Name], [Address], [Neiborhood], [City], [Phone], [Contact], [ContactPhone], [ContactMail], [EnterpriseMail], [NIT], [Type]) VALUES (4, N'0180', N'BOGOTA PERDOMO', N'Calle 75 71 ', NULL, N'Santafe de Bogota', NULL, NULL, NULL, NULL, NULL, NULL, N'0')
SET IDENTITY_INSERT [dbo].[Provider] OFF
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([ID], [Code], [Name]) VALUES (1, N'22', N'ajiaco')
INSERT [dbo].[Recipe] ([ID], [Code], [Name]) VALUES (2, N'123', N'Plato Mexicano')
INSERT [dbo].[Recipe] ([ID], [Code], [Name]) VALUES (4, N'eeee', N'Plato Mexicano')
SET IDENTITY_INSERT [dbo].[Recipe] OFF
SET IDENTITY_INSERT [dbo].[SystemUser] ON 

INSERT [dbo].[SystemUser] ([ID], [Username], [Password], [Name], [LastName], [UserType], [ProviderID]) VALUES (2, N'1111@gmail.com', N'1111', N'sample string 4', N'sample string 5', N'0', 0)
INSERT [dbo].[SystemUser] ([ID], [Username], [Password], [Name], [LastName], [UserType], [ProviderID]) VALUES (4, N'2222@gmail.com', N'1111', N'alimento', N'alimento', N'1', 11)
INSERT [dbo].[SystemUser] ([ID], [Username], [Password], [Name], [LastName], [UserType], [ProviderID]) VALUES (5, N'5555@gmail.com', N'1111', N'trasnporte', N'trasnporte', N'1', 1005)
SET IDENTITY_INSERT [dbo].[SystemUser] OFF
SET IDENTITY_INSERT [dbo].[Transport] ON 

INSERT [dbo].[Transport] ([ID], [Code], [CarPlate], [Brand], [Year], [PersonInCharge], [PhonePersonInCharge], [MailPersonInCharge], [PaymentValue], [Availability], [TransportType], [PaymentUnity], [PaymentMeasurement], [IDProvider]) VALUES (2, N'22434', N'Bnu756', N'Mazda', 1, N'Carlos Moreno', 12345678, N'qyet123@gmail.com', CAST(5000.00 AS Numeric(16, 2)), 1, 1, 10, 8, 1005)
INSERT [dbo].[Transport] ([ID], [Code], [CarPlate], [Brand], [Year], [PersonInCharge], [PhonePersonInCharge], [MailPersonInCharge], [PaymentValue], [Availability], [TransportType], [PaymentUnity], [PaymentMeasurement], [IDProvider]) VALUES (4, N'22244', N'Bgy753', N'Renault', 2, N'Alejandro Gomez', 2345678, N'whiudh@gmail.com', CAST(7000.00 AS Numeric(16, 2)), 1, 2, 8, 8, 1005)
INSERT [dbo].[Transport] ([ID], [Code], [CarPlate], [Brand], [Year], [PersonInCharge], [PhonePersonInCharge], [MailPersonInCharge], [PaymentValue], [Availability], [TransportType], [PaymentUnity], [PaymentMeasurement], [IDProvider]) VALUES (5, N'4343', N'Bhu789', N'Nissan', 1, N'Carlos Eurobio', 63769222, N'medkfm@gmail.com', CAST(3000.00 AS Numeric(16, 2)), 1, 1, 5, 8, 1004)
SET IDENTITY_INSERT [dbo].[Transport] OFF
ALTER TABLE [dbo].[PreOrder] ADD  DEFAULT (getdate()) FOR [PreOrderDate]
GO
ALTER TABLE [dbo].[Disponibility]  WITH CHECK ADD  CONSTRAINT [FK_Disponibility_Product] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Disponibility] CHECK CONSTRAINT [FK_Disponibility_Product]
GO
ALTER TABLE [dbo].[Disponibility]  WITH CHECK ADD  CONSTRAINT [FK_Disponibility_Provider] FOREIGN KEY([IDProvider])
REFERENCES [dbo].[Provider] ([ID])
GO
ALTER TABLE [dbo].[Disponibility] CHECK CONSTRAINT [FK_Disponibility_Provider]
GO
